<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Patreon to GitHub</title>
  <link rel="stylesheet" href="./styles/style.css" />
</head>

<body class="bg-white dark:bg-black">
  <div class="md:container mx-auto px-4 text-center">
    <div class="mt-6" aria-hidden="true">
      <header><%- include('partials/header') %></header>
      <div><%- include('partials/steps', { active: 2 }) %></div>
      <div><%- include('partials/connect') %></div>
    </div>
  </div>
</body>

</html>